<app-poke-search (emmitSearch)="searchList($event)"></app-poke-search>

<section class="list">
  <ng-template ngFor let-pokemon [ngForOf]="allPokemons | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}" >
  <a [routerLink]="['details', pokemon?.status?.id]" class="pokemon">
      <section class="pokemon-status">
        <h2>{{pokemon.name}}</h2>
        <ul>
          <li [class]="'pokemon-type--' + item?.type?.name.toLowerCase()"
          *ngFor="let item of pokemon?.status?.types">{{item?.type?.name | titlecase}}</li>
        </ul>
      </section>
      <section class="pokemon-img">
        <img [src]="getImagePokemon(pokemon?.status?.id)" alt={{pokemon.name}}>
      </section>
    </a>
  </ng-template>
</section>

<pagination-controls nextLabel="Próximo" previousLabel="Anterior" class="pagination" (pageChange)="page = $event; getPokemons()"></pagination-controls>

<img
  src="assets/imgs/error.png"
  alt="Erro na busca de pokémon"
  width="100%"
  *ngIf="apiError"
/>
