@import '../../../config-scss/rem-calc.scss';

:host{

  .toggle{
    padding: rem-calc(20);
    font-size: rem-calc(16);
    position: absolute;
  }

  .image-header{
    display: flex;
    padding: rem-calc(40) 0;
    justify-content: center;
    width: 100%;
  }

  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .new-pokemon{
    padding: rem-calc(30);
    position: absolute;
    right: 0;
  }

  .new-pokemon-btn{
    font-size: rem-calc(16);
    border-radius: 50px;
    padding: 10px;
    width: 160px;
  }
  .new-pokemon-btn:hover{
    cursor: pointer;
    background-color: #B7C0C8;
  }

  .mat-button-toggle-group{
    border-radius: 50px;
    padding: 2px;
    width: 160px;
    justify-content: space-between;
    background-color: #fff;
  }

  .mat-button-toggle{
    border-radius: 50px;
    width: 50%;
    border: none;
  }
  .mat-button-toggle-checked{
    background-color: #262835 !important;
    color: #fff !important;
  }
  .mat-button-toggle:not(.checked){
    color: #B7C0C8;
    background-color: #fff;
  }
}
